{% form 'cart', cart %}
    <h1>Cart</h1>
    {% if cart.empty? %}
        <p>Cart is empty</p>

    {% else %}

        {% for item in cart.items %}
            <div>
                <img src="{{ item.image | img_url: "200x" }}" alt="{{ item.title }}"/>
                <h2>{{ item.title }}</h2>
                <p>{{ item.final_line_price | money }}</p>
                <label>
                    <input name="updates[]" value="{{ item.quantity }}">
                </label>
                <a href="{{ item.url_to_remove }}">Remove</a>
            </div>
        {% endfor %}

        <hr/>
        <p>Total: {{ cart.total_price | money }}</p>

        <button type="submit" name="update">Update</button>
        <button type="submit" name="checkout">Checkout</button>

    {% endif %}

{% endform %}